{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{% url 'index' %}">MySite</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'item_upload_form' %}">Item Upload</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'my_list' %}">My List</a></li>
            {% endif %}
          </ul>

          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
              <li class="nav-item"><span class="nav-link">Hello, {{ user.username }}!</span></li>
              <li class="nav-item"><a class="nav-link text-warning" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link text-warning" href="{% url 'login' %}">Sign In</a></li>
              <li class="nav-item"><a class="nav-link text-warning" href="{% url 'signup' %}">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>